---
---

@import "{{ site.theme }}";
.wrapper {
  width:850px;
  margin:0 auto;
  position:relative;
}
section {
  width:790px;
}
nav {
  left:50%; /* 左边界距离视窗左边的百分比，结合margin-left使用来进行居中或其它定位效果 */
  margin-left:-680px; /* 左边的外边距，用于调整定位的具体位置（结合left:50%使用可以达到居中的效果，取决于具体的数值） */
}
nav {
  ul {
    li {
      a {
        // color: #000; // 字体颜色改为黑色
        font-weight: bold; // 字体加粗
      }
    }
  }
}
footer {
  left:50%;
  margin-left:-630px; /* 正值朝右 */
}
nav, footer {
  overflow: hidden; /* 或hidden，根据需要 */
}
#banner {
  right: 37.5%;
  .fork1, .fork2, .fork3 {
    position: absolute;
    width: 135px; /* 或任何适合的宽度 */
    left: 60%; /* 为.fork1特定 */
    margin-left: -325px;
    padding: 9px 10px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    background-color: #FFEBA0;
  }  
  .fork2 {
    left: 75%;  /* 覆盖.fork2的左边距 */
  }
  .fork3 {
    left: 90%;  /* 覆盖.fork3的左边距 */
  }
  #logo {
    position: absolute;
    background-image: url('../images/TrustAIRLab.png'); /* 背景图像 */
    background-size: contain; /* 使背景图像完整显示且适应元素 */
    background-repeat: no-repeat; /* 不重复背景图像 */
    background-position: center; /* 将背景图像居中 */
    height: 40px;
    width: 200px;
    right: 20px;
    top: 6px;
    display: block;
  }
}
table {
  width:75%;
  margin-left: auto;
  margin-right: auto;
}
#banner {
  background: #e0e0e0;
}
@media screen and (max-width: 1050px) {
  #banner .button.fork1,
  #banner .button.fork2,
  #banner .button.fork3 {
    display: none;
  }
}
// header {
//   background-image: linear-gradient(to bottom, #3769a4 0%, lightblue 100%);
// }
header {
  // background: url(../images/background.png);
  background: url(../images/background.png) #3769a4; /* same as trustairlab */
}
// header h1 {
//   font-weight: bold; 
// }
.scrollable-table {
  overflow-x: auto; // 水平滚动
  max-height: 500px; // 最大高度，可以根据需求调整
  display: block;
  overflow-y: auto; // 垂直滚动

  table {
    width: 100%; // 使表格宽度充满容器

    th, td {
      text-align: left; // 根据需要调整对齐方式
      padding: 8px; // 调整间距以更好地展示内容
    }

    th {
      cursor: pointer; // 指明可以点击列头进行排序
    }
  }
}

