---
---

@import "{{ site.theme }}";
.wrapper {
  width: 62%;
}
section {
  width: calc(100% - 60px);
}
nav {
  width:230px; /* 设置 nav 的宽度 */
  left:0%; /* 左边界距离视窗左边的百分比，结合margin-left使用来进行居中或其它定位效果 */
  margin-left:115px; /* 左边的外边距，用于调整定位的具体位置（结合left:50%使用可以达到居中的效果，取决于具体的数值） */
}
nav {
  ul {
    li {
      a {
        color: #000; // 字体颜色改为黑色
        font-weight: bold; // 字体加粗
      }
    }
  }
}
footer { 
  width:230px;  
  left:0%;
  margin-left:115px; /* 正值朝右 */
}
#banner {
  background: #e0e0e0;
}
table {
  width:75%;
  margin-left: auto;
  margin-right: auto;
}
